<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/alligator-22.09.tar.xz">alligator-22.09</a></td>
   <td align="right">178kB</td>
   <td><tt>8b6adaa54aa8e5fe3cebda821fa9b407872940c7afb7fe45f4b41ad782d03e4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/angelfish-22.09.tar.xz">angelfish-22.09</a></td>
   <td align="right">175kB</td>
   <td><tt>9db3088d1dd4c6d725eb84b0ca1cd5e54a92360623d788b9fc21a8d909b290ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/audiotube-22.09.tar.xz">audiotube-22.09</a></td>
   <td align="right">69kB</td>
   <td><tt>88e32dd2f1920bdacf40dc3c920c1677bd300ba5a2beca6702825b8a5ec6c3ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/calindori-22.09.tar.xz">calindori-22.09</a></td>
   <td align="right">369kB</td>
   <td><tt>96505d78e4b040fa397e3e99fd6648f3e163d8f050fe19c184d59c6b3f6e8fdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/kalk-22.09.tar.xz">kalk-22.09</a></td>
   <td align="right">72kB</td>
   <td><tt>d83d102aeb4dc66bf12c9e05e928eace2d0712ac738bdf18545d6a35b61c9169</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/kasts-22.09.2.tar.xz">kasts-22.09.2</a></td>
   <td align="right">474kB</td>
   <td><tt>a9b43dce4b91fd5f92f4b3af44b08ae55c7b7c3a496a88f045718219265a2082</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/kclock-22.09.tar.xz">kclock-22.09</a></td>
   <td align="right">702kB</td>
   <td><tt>5badb0ed25924ee62099efed8ce1a1448e82e28bbfb6fc16496c27f898a565a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/keysmith-22.09.tar.xz">keysmith-22.09</a></td>
   <td align="right">153kB</td>
   <td><tt>fec90353b2c7dea2731d436eb7086a273bfa88333655273c85cad89c6edd7b70</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/khealthcertificate-22.09.tar.xz">khealthcertificate-22.09</a></td>
   <td align="right">359kB</td>
   <td><tt>3380e35cc27af5517a5b5b321da98ab22dd1aba120327bdbbe6474defd95739b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/koko-22.09.tar.xz">koko-22.09</a></td>
   <td align="right">132kB</td>
   <td><tt>f40dcd9bd3ba686435dbf4b3b1a54bdd8a994b3f4875266a9deba9e004d37efc</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/kongress-22.09.tar.xz">kongress-22.09</a></td>
   <td align="right">572kB</td>
   <td><tt>5f0af711e8f603b0d11651243d7c8fd325152a5568454c6713fc69728e16575e</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/krecorder-22.09.tar.xz">krecorder-22.09</a></td>
   <td align="right">148kB</td>
   <td><tt>314a77eab8a14e79b93df5ee85493cbac662251e98c926a2826b70afd7e18f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/ktrip-22.09.tar.xz">ktrip-22.09</a></td>
   <td align="right">244kB</td>
   <td><tt>34d7bb14cb69acbfa8576e57d05004a1739323b22be9365efdc76f2ba0273a75</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/kweather-22.09.tar.xz">kweather-22.09</a></td>
   <td align="right">991kB</td>
   <td><tt>5f864f8f9ee8d17dc0647806c9237efd4df82ee31d022e80cf32e4e053317f7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/neochat-22.09.tar.xz">neochat-22.09</a></td>
   <td align="right">353kB</td>
   <td><tt>9135cc31196394dafbdff0ff011aef176b365036c226b6a4cc33e084763517c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/plasma-dialer-22.09.tar.xz">plasma-dialer-22.09</a></td>
   <td align="right">104kB</td>
   <td><tt>3a27d12290762977109290a86c6bcf21b20703e7da4e8fe31ea595c068c168f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/plasma-phonebook-22.09.tar.xz">plasma-phonebook-22.09</a></td>
   <td align="right">204kB</td>
   <td><tt>c052614b3cf744f615562327fb8ef3adea459479a24d949e43074aa7c1185bf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/plasma-settings-22.09.tar.xz">plasma-settings-22.09</a></td>
   <td align="right">302kB</td>
   <td><tt>6a3aaf404c2c9f2fc98b376a4539069ddd4c793056121b4846ea883fd9c9024b</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/plasmatube-22.09.tar.xz">plasmatube-22.09</a></td>
   <td align="right">55kB</td>
   <td><tt>d3de85e2de5babe0aa7417799fdc9e4fa7e07a5eacb14a0d209aeccb5cb98903</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/qmlkonsole-22.09.tar.xz">qmlkonsole-22.09</a></td>
   <td align="right">57kB</td>
   <td><tt>e1733d32f0665f8b05485d2f1646c82b0838cdbb57c91fa8cd0aa9be894b6ea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/spacebar-22.09.tar.xz">spacebar-22.09</a></td>
   <td align="right">105kB</td>
   <td><tt>74dd30646860dcf2b0915f10962470bb0007bb07c856059c43f49878943bb33a</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/telly-skout-22.09.tar.xz">telly-skout-22.09</a></td>
   <td align="right">67kB</td>
   <td><tt>9e69d0269588b64c7d80318d7ee5118621b82d6ebea50297f9be4bb9a89fcaaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/tokodon-22.09.tar.xz">tokodon-22.09</a></td>
   <td align="right">141kB</td>
   <td><tt>d710ea572ab3094bfee6802aad2dbd30f2493b9cbbfaacf5a18850b713f67b88</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/plasma-mobile/22.09/vakzination-22.09.tar.xz">vakzination-22.09</a></td>
   <td align="right">51kB</td>
   <td><tt>66f64e055cf5a82677413203e51505a939f0ac4c43713cff73409e125b60bf07</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/stable/kweathercore/0.7/kweathercore-0.7.tar.xz">kweathercore-0.7</a></td>
   <td align="right">56kB</td>
   <td><tt>04dde83ae543163735776dc50edab3510247d4825432840a78fade9b237a79fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="https://download.kde.org/unstable/kirigami-addons/0.4/kirigami-addons-0.4.tar.xz">kirigami-addons-0.4</a></td>
   <td align="right">69kB</td>
   <td><tt>be95b504fee01ea76ebc8c429b5700d2f4245be893cbac7f03f778b92e962d91</tt></td>
</tr>

</table>
