@charset "utf-8";

#wrapper {
    font-weight: 300;
    margin-top:0px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
    
}   

@media screen and (max-width: 360px) {
    #wrapper {
        padding-top: 1em;
    }
}

.choices li {
    display: none;
}

.question {
    display: none;
}

.question {
    text-align: center;
    padding-top: 60px;
}


.question {
    font-size: 20pt;
    padding: 0 10% 0 10%;
}

#responses {
    padding-top: 1em;
    font-size: 20pt;

}

#responses div {
    margin-bottom: 0.5em;
    /**
     * display:none needed in case if js is disabled
     */
    display:none;
}

#responses div a:hover {
    cursor: pointer;
    box-shadow: 0 3px rgba(0, 0, 0, 0), 0 200px rgba(0, 0, 0, 0.1) inset, 0px 3px 48px rgba(255,255,255,0.0) inset;
    transition: all .12s ease-in-out;
}

#responses div a:active {
    cursor: pointer;
    box-shadow: 0 3px rgba(0, 0, 0, 0), 0 200px rgba(0, 0, 0, 0.1) inset, 0px 3px 48px rgba(255,255,255,0.0) inset;
    transition: all .12s ease-in-out;
}

#responses div a {
    text-decoration: none;
    color: #fff;
    padding: 10px 40px 10px;
    border-radius: 6px;
    border: 0 none;
    transition: all .12s ease-in-out;
    display: inline-block;
    max-width: 90%;
}

#ok a {
    background-color: #1d99f3;

}

#next a {
    background-color: #fdbc4b;

}

#back a {
    background-color: #e74c3cff;

}

.choices li {
    font-size: 32pt;
    font-weight: 600;
}

.extra {
    font-size: 20pt;
    font-weight: 600;
    padding-bottom: 1em;
}

#footer {
    margin-top: 6em;
}

.negative {
    display: none;
}

.visible {
    display: inline;
}

@media screen and (max-width: 499px) {

    #responses{
        font-size: 22pt;
    }

    .choices li {
        font-size: 25pt;
    }
}

/* RTL View */
html[dir="rtl"] * {
    font-family: "Fira Sans", sans-serif;
}

html[dir="rtl"] #lang-selection {
    background: center right transparent no-repeat;
    padding-left: 0;
    padding-right: 28px;
}

html[dir="rtl"] #lang {
    text-align: left;
    margin-left: 10px;
    margin-right: unset;
}

html[dir="rtl"] header .plamo-logo {
    float: right;
}

html[dir="rtl"] #lang {
    text-align: left;
}
