{{ define "head-import" }}
{{ $style := resources.Get "scss/index.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<section class="home" >
  <div class="container align-items-center">
    <div>
      <h2 class="heading mt-5 mt-md-0">{{ i18n "plasma-in-your-pocket" }}</h2>
      <h3 class="subheading">{{ i18n "privacy" }}</h3>
    </div>
    <img src="/img/plasmaphone.svg" class="img-fluid mb-4" style="width: 500px">
  </div>
</section>

<section class="openup">
  <div class="container my-5">
    <img class="img-fluid mx-auto" src="/img/triangles.png" alt="triangles" width="224" height="128" />
    <h2 class="h1 mb-4 grey-text">{{ i18n "openup" }}</h2>
    
    <p class="description-block">{{ i18n "opensource-phone" }}</p>
    <p class="my-4 description-block">
        <a href="/get/" class="button">{{ i18n "install" }}</a>
        <a href="https://invent.kde.org/plasma/plasma-mobile/-/wikis/home" class="button">{{ i18n "contribute" }}</a>
    </p>
    <p class="description-block">{{ i18n "qt-kf" }}</p>
    <div class="laptop-with-overlay mt-5 mb-3 mx-auto" style="max-width: 900px">
      <img class="laptop img-fluid" src="/reusable-assets/laptop.svg" alt="">
      <div class="laptop-overlay">
          <img class="img-fluid" src="https://kde.org/announcements/plasma/5/5.21.0/plasma-dark.webp" alt="Plasma Desktop">
      </div>
      <img src="https://www.plasma-mobile.org/img/plasmaphone.svg" alt="Plasma Mobile" style="bottom: 0; right: 25%; width: 25%" class="position-absolute">
    </div>
  </div>
  
  <div class="container" style="margin-bottom: 50px">
    <h2 class="text-center grey-text" style="margin-bottom: 30px;">{{ i18n "home.why" }}</h2>
    <p class="mx-auto description-block" style="max-width: 800px">{{ i18n "home.why.description" }}</p>
  </div>
</section>
  
<section class="applications-section section-blue">
  <div class="container">
    <h2 class="text-center grey-text" style="margin-bottom: 30px;">{{ i18n "home.applications" }}</h2>
    <p class="mx-auto description-block" style="margin-bottom: 50px;">{{ i18n "home.applications.description" | markdownify }}</p>
  
    <div class="applications row align-items-stretch">
      {{ $appData := slice }}
      {{ range $.Site.Data.applications }}
        {{ $app := getJSON . }}
        {{ $id := index $app "ID" }}
        {{ $localizedName := index $app.Name $.Site.Language.Lang | default $app.Name.en }}
        {{ $allGenericNames := index $app "X-KDE-GenericName" }}
        {{ $genericName := index $allGenericNames $.Site.Language.Lang | default $allGenericNames.en }}
        {{ $appData = $appData | append (dict "id" $id "localizedName" $localizedName "genericName" $genericName) }}
      {{ end }}
      {{ range sort $appData "localizedName" }}
        <div class="app text-center col-6 col-sm-4 col-md-3 col-lg-2 p-2">
          <div class="p-3 h-100">
            <div aria-hidden="true">
              <a href="https://apps.kde.org{{ .id | relLangURL }}">
                <img src="https://apps.kde.org/app-icons/{{ .id }}.svg" loading="lazy" alt="{{ .localizedName }}" width="48" height="48">
              </a>
            </div>
            <a class="application-name" href="https://apps.kde.org{{ .id | relLangURL }}">
              {{ .localizedName }}
            </a>
            <p class="hyphens">
              {{ .genericName }}
            </p>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

<section class="features-section">
  <div class="container">
    
    <div class="feature wayland flex-column flex-md-row">
      <div class="textwidget order-md-1">
        <h2 class="grey-text">{{ i18n "kwin" }}</h2>
        <p class="grey-text">{{ i18n "wayland" }}</p>
      </div>
      <div>
        <img class="alignnone adapting me-0 me-md-5 my-4 my-md-0 order-md-0" src="/img/wayland.png" alt="wayland" width="600" height="500" />
      </div>
    </div>
    
    <hr />
    
    <div class="feature opensource flex-column flex-md-row">
      <div>
        <h2 class="grey-text">{{ i18n "opensource" }}</h2>
        <p class="me-0 me-md-5 grey-text">{{ i18n "parts" | markdownify }}</p>
        <ul>
          <li><a href="https://kde.org/products/frameworks/" target="_blank">KDE Frameworks</a></li>
          <li><a href="https://kde.org/products/kirigami/" target="_blank">Kirigami</a></li>
          <li><a href="https://modemmanager.org/" target="_blank">ModemManager</a></li>
          <li><a href="https://en.wikipedia.org/wiki/PulseAudio" target="_blank">Pulseaudio</a></li>
        </ul>
      </div>
      <div>
        <img class="img-fluid my-4 my-md-0 adapting" src="/img/telephony.png" alt="telephony" width="840" height="1000" />
      </div>
    </div>
    
    <div class="feature mb-0 d-flex flex-md-row flex-column">
      <div class="order-md-1">
        <h2 class="grey-text">{{ i18n "adapting" }}</h2>
        <p class="grey-text">{{ i18n "based" }}
      </div>
      <div>
        <img class="img-fluid adapting me-0 me-md-5 mt-4 mt-md-0 order-md-0" src="/img/schemes.png" alt="schemes" width="800" height="600" />
      </div>
    </div>
  </div>
</section>
{{ end }}
